<h1> <%= @drink.name %> </h1>
<div>
  Created by: <%= @drink.user.username %>
</div>
<div>
  <% if @drink.alcoholic? %>
    <h2>Liquors</h2>
    <% @drink.liquors.each do |liquor| %>
      <%= liquor.name %>
    <% end %>
  <% end %>
</div>
<div>
  <p> <%= @drink.description %> </p>
</div>


<div>
  <%= form_for([@drink, @review]) do |f| %>
    <div>
      <%= f.radio_button(:rating, 1) %>
      <%= f.label :rating, 1 %>
      <%= f.radio_button(:rating, 2) %>
      <%= f.label :rating, 2 %>
      <%= f.radio_button(:rating, 3) %>
      <%= f.label :rating, 3 %>
      <%= f.radio_button(:rating, 4) %>
      <%= f.label :rating, 4 %>
      <%= f.radio_button(:rating, 5) %>
      <%= f.label :rating, 5 %>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :body %>
      <%= f.text_field :body %>
    </div>
    <div>
      <%= f.submit "Submit Review" %>
    </div>
  <% end %>
</div>


<% if current_user == @drink.user %>
  <%= link_to "Edit Drink", edit_drink_path(@drink) %>
  <%= button_to "Delete Drink", drink_path(@drink), method: :delete %>
<% end %>
