<h1> <%= @drink.name %> </h1>
<div>
  Created by: <%= image_tag(@drink.user.avatar.url(:thumb)) %>
              <%= @drink.user.username %>
</div>
<div>
  <% if @drink.alcoholic? %>
    <h2>Liquors</h2>
    <% @drink.liquors.each do |liquor| %>
      <%= liquor.name %>
    <% end %>
  <% end %>
</div>
<div>
  <p> <%= @drink.description %> </p>
</div>

<div>
  <% if @review.errors.any? %>
  <ul>
    <% @review.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div>

  <%= form_for([@drink, @review]) do |f| %>

    <div>
      <%= f.label :rating %>
      <%= f.radio_button(:rating, 1) %>
      <%= f.label :rating, 1 %>
      <%= f.radio_button(:rating, 2) %>
      <%= f.label :rating, 2 %>
      <%= f.radio_button(:rating, 3) %>
      <%= f.label :rating, 3 %>
      <%= f.radio_button(:rating, 4) %>
      <%= f.label :rating, 4 %>
      <%= f.radio_button(:rating, 5) %>
      <%= f.label :rating, 5 %>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :body %>
      <%= f.text_field :body %>
    </div>
    <div>
      <%= f.submit "Submit Review" %>
    </div>
  <% end %>
</div>

<h1><%= @drink.name %> Reviews</h1>
<h2>Average Rating: <%= @rating_average %> </h2>
<% if @reviews %>
  <% @reviews.each do |review| %>
    <div>
      <% if signed_in? && current_user.role == "admin" %>
        <%= button_to "Delete Review", admin_review_path(review),
            method: :delete, title: "Destroy_Review_#{review.id}" %>
        <% end %>
      <%= review.created_at %>
      <%= review.user.username %>
      Score: <%= review.votes.sum("score") %>
      <%= button_to "+1", drink_review_upvote_path(@drink,review), method: :post %>
      <%= button_to "-1", drink_review_downvote_path(@drink,review), method: :post %>
      Rating: <%= review.rating %>
      <h5><%= review.title %></h5>
      <p><%= review.body %>
    </div>
  <% end %>
<% end %>

<% if current_user == @drink.user %>
  <%= link_to "Edit Drink", edit_drink_path(@drink) %>
  <%= button_to "Delete Drink", drink_path(@drink), method: :delete %>
<% end %>
